#Bens Config File
Player Energy (Ki/Chakra) HUD X Position (from left to right) (default: 0):0
Player Energy (Ki/Chakra) HUD Y Position (from top to bottom) (default: 0):0
Player Energy (Ki/Chakra) HUD Style (default: 0):0
Player Lock on Style (default: 0):0
Player Health and Action HUD X Position (from left to right) (default: 0):0
Player Health and Action HUD Y Position (from top to bottom) (default: 0):0
Player Health and Action HUD Style (default: 0):0
God Aura Particles On (default: true):true
Stone Aura Particles On (default: true):true
Swoop image effect On (default: true):true
Fireball Particles On (default: true):true
Explosion Particles On (default: true):true
Percentage Text for Health bars (default: false):false
Rotated Health Bar On (default: false):false
Ultra Instinct Aura Particles On (default: true):true
Grass Aura Particles On (default: true):true
Dust Aura Particles On (default: true):true
3D Stone Aura Particles On (default: false):false
3D Grass Aura Particles On (default: false):false
Particles amount multiplier (default: 0):0
Particles speed multiplier (default: 0):0
Particle invisible from first person (default: 4):4
New first person animations (default: true):true
New 3D Explosion (default: true):true
New 2D Explosion (default: true):true
Explosion 3D on (default: true):true
NPC aura (default: true):true
Double ki blast color (default: true):true
Ki blast charge animation (default: true):true
Flying trail (default: false):false
Aura lightning (default: true):true
2D player aura animation (default: true):true
3D player aura animation (default: true):true
Hitting clash effect (default: true):true
Spawn Other particles (default: true):true
Custom HUD On (default: false):false
Custom HUD Properties (default: 0,0,154,55,0,background,;45,12,104,8,0,0,65,11,2,health,30,150,30,Health| #amount/#max,;49,23,85,11,1,0,60,23,2,energy,0,0,0,Energy| #amount/#max,;44,37,59,7,0,0,50,35,2,stamina,255,200,0,#empty,;1,8,10,39,0,2,0,22,2,transform,255,0,255,#empty,;6,6,43,43,0,2,21,22,2,release,255,0,0,#amount,;50,50,2,0,150,50,50,;75,0,2,25,150,255,;):0,0,154,55,0,background,;45,12,104,8,0,0,65,11,2,health,30,150,30,Health| #amount/#max,;49,23,85,11,1,0,60,23,2,energy,0,0,0,Energy| #amount/#max,;44,37,59,7,0,0,50,35,2,stamina,255,200,0,#empty,;1,8,10,39,0,2,0,22,2,transform,255,0,255,#empty,;6,6,43,43,0,2,21,22,2,release,255,0,0,#amount,;50,50,2,0,150,50,50,;75,0,2,25,150,255,;
April fools mode (default: false):false
First Person Blocking animation (default: false):false
Player Bruises (default: true):true
3D Aura, 2D God (default: false):false
3D Aura Invisibility (default: 10):10
Action Menu Text Type (default: false):false
Action Menu Text White (default: false):false
Enma Desk On (default: true):true
Ki Attack Visibility (default: 10):10
Ki Attack Scale (default: 10):10
Ki Charge Visibility (default: 10):10
Ki Charge Scale (default: 10):10
Jutsu Visibility (default: 10):10
Jutsu Scale (default: 10):10
Ki Attack Wave 3D on (default: false):false
Ki Attack Blast 3D on (default: false):false
Ki Attack Disk 3D on (default: false):false
Ki Attack Laser 3D on (default: false):false
Ki Attack Spiral 3D on (default: false):false
Ki Attack BigBlast 3D on (default: false):false
Ki Attack Barrage 3D on (default: false):false
Ki Attack Shield 3D on (default: false):false
Ki Attack Explosion 3D on (default: false):false
Ki Attack Charge Wave 3D on (default: false):false
Ki Attack Charge Blast 3D on (default: false):false
Ki Attack Charge Disk 3D on (default: false):false
Ki Attack Charge Laser 3D on (default: false):false
Ki Attack Charge Spiral 3D on (default: false):false
Ki Attack Charge BigBlast 3D on (default: false):false
Ki Attack Charge Barrage 3D on (default: false):false
Ki Attack Charge Shield 3D on (default: false):false
Ki Attack Charge Explosion 3D on (default: false):false
Jutsu Wave 3D on (default: false):false
Jutsu Blast 3D on (default: false):false
Jutsu Disk 3D on (default: false):false
